<button mat-icon-button class="cart-button" (click)="drawer.toggle()">
  <mat-icon matBadge="{{cartItems.length}}" matBadgeColor="warn">shopping_cart</mat-icon>
</button>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
    <mat-list role="list">
      <div class="item" *ngFor="let item of cartItems" role="listitem">
        <div>
          <img [src]="item.image" alt="{{ item.name }}" class="cart-item-image">
          <button mat-icon-button (click)="removeFromCart(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="cart-item-name">{{ item.name }}</div>
        <div class="cart-item-price">{{ item.price }}</div>
        <div>
          <button mat-icon-button (click)="addRemove(item, 'remove')">
            <mat-icon>remove</mat-icon>
          </button>
          <span class="cart-item-quantity">{{ item.quantity }}</span>
          <button mat-icon-button (click)="addRemove(item, 'add')">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
