/*CartButton ----------*/

.cart-button {
  position: absolute;
  right: 20px;
  top: -60px;
  z-index: 1001;
}

.cart-item-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Sidenav*/
.cart-item-image {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}

.cart-item-name {
  font-weight: bold;
}

.cart-item-price {
  color: grey;
}

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  min-width: 180px;
}
