.searchBar{
  width: 40%;
  position: fixed;
  left: 30%;
}

mat-toolbar{
  min-height: 70px;
  position: fixed;
  z-index: 1000;
}

a{
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  border-radius: 5%;
  padding: 5px;
}

a:hover{
  background-color: #ffffff1a;
}

img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.userButton{
  position: absolute;
  right: 80px;
  z-index: 1001;
}
