<mat-toolbar color="primary">
  <a routerLink="/" color="primary">
    <img src="./assets/Icon.png">
    <span>Home</span>
  </a>

  <button mat-icon-button class="userButton" [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="logged === 'true'" [routerLink]="'/orders'">Orders</button>
    <button mat-menu-item *ngIf="logged === 'true'" [routerLink]="'/shopping-cart'">Cart</button>
    <button mat-menu-item *ngIf="logged === 'true'" (click)="logout()">Log Out</button>
    <button mat-menu-item *ngIf="logged === 'false'" [routerLink]="['/login']">Login</button>
  </mat-menu>
</mat-toolbar>
