<mat-toolbar color="primary">
  <a routerLink="/" color="primary">
    <img src="./assets/Icon.png">
    <span>Home</span>
  </a>
  <mat-form-field appearance="outline" color="accent" class="searchBar">
    <mat-label>search</mat-label>
    <input matInput type="text" placeholder="search">
  </mat-form-field>
  <button mat-icon-button class="cart" (click)="drawer.toggle()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>

</mat-drawer-container>


