<mat-toolbar color="primary">
  <a routerLink="/" color="primary">
    <img src="./assets/Icon.png">
    <span>Home</span>
  </a>
  <mat-form-field appearance="outline" color="accent" class="searchBar">
    <mat-label>search</mat-label>
    <input matInput type="text" placeholder="search">
  </mat-form-field>
  <button mat-icon-button class="cart-button" (click)="toggleSidenav()">
    <mat-icon>shopping_cart</mat-icon>
    <div class="cart-item-count">{{ cartItems.length }}</div>
  </button>

</mat-toolbar>
