<div class="searchBarPos">
  <mat-form-field appearance="outline" color="accent" class="searchBar" *ngIf="route.snapshot.url.length === 0">
    <mat-label>search</mat-label>
    <input matInput type="text" placeholder="search" (keyup)="search(searchTerm.value)" #searchTerm>
  </mat-form-field>
</div>
<div class="flex">

  <div class="filtering  mat-elevation-z4">
    <span>Filters: </span>
    <button class="filterButton" mat-stroked-button color="accent" (click)="filterByType('all')">All</button>
    <button class="filterButton" mat-stroked-button color="accent" (click)="filterByType('Laptop')">Laptop</button>
    <button class="filterButton" mat-stroked-button color="accent" (click)="filterByType('Accessories')">Accessories</button>
    <button class="filterButton" mat-stroked-button color="accent" (click)="filterByType('Phone')">Phone</button>
    <button class="filterButton" mat-stroked-button color="accent" (click)="filterByType('Tv')">Tv</button>
    <button class="filterButton" mat-stroked-button color="accent" [matMenuTriggerFor]="priceMenu">Order by price <mat-icon>keyboard_arrow_down</mat-icon></button>
    <mat-menu #priceMenu>
      <button mat-menu-item (click)="orderByPrice('asc')">Lowest to highest</button>
      <button mat-menu-item (click)="orderByPrice('desc')">Highest to lowest</button>
    </mat-menu>
  </div>
  <img src="./assets/banner.png" class="mat-elevation-z4" style="width: 100%; height: auto; margin-bottom: 20px">
  <mat-card class="cards" *ngFor="let item of items">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.image}}" alt="{{item.name}}">
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
      <h2>${{item.price}} COP</h2>
    </mat-card-content>
    <mat-card-actions>
      <mat-card-subtitle>Only: {{item.available}} available</mat-card-subtitle>
      <button mat-raised-button mat-button color="accent" [ngStyle]="{marginLeft:'10px'}" (click)="addToCart(item)">Add
        to cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <footer>
    <mat-toolbar color="primary">
      <a href="https://github.com/JonathanPinilla" target="_blank">Jonathan Pinilla</a>
    </mat-toolbar>
  </footer>
</div>

