.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
}

.cards{
  width: 400px;
  margin: 0 20px 20px 20px;
  height: fit-content;
}

a{
  color: white;
  text-decoration: none;
}

mat-card-actions{
  padding: 16px;
}
