app-navbar{
  position: absolute;
  top: 0;
  left: 0;
}

.shoppingPage{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  text-align: center;
}

.cards{
  width: 200px;
  margin: 0 20px 20px 20px;
  max-height: 400px;
}

img{
  max-width: 200px;
  border-radius: 10px;
}

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  padding: 0 20px 0 20px;
}

.itemsList{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orderForm{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
  height: 100vh;
}

mat-form-field{
  margin-bottom: 20px;
  width: 90%;
}

h2{
  width: 90%;
}

@media screen and (max-width: 1000px) {
  /* Styles for screens with a maximum width of 768px */
  .shoppingPage {
    width: 100%;
    position: static;
    transform: translate(0, 0);
    box-shadow: #000000a0 0 0 10px;
    padding-bottom: 20px;
  }

  .orderForm{
    width: 100%;
    position: relative;
    transform: translate(0, 0);
    box-shadow: none;
  }

  .pageAlignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
