<app-navbar></app-navbar>
<div class="flex">
  <mat-accordion *ngFor="let order of orders">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Order: {{order.id}}
        </mat-panel-title>
        <mat-panel-description>
          Value: {{order.price}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let item of order.items" style="padding-bottom: 20px">
        <mat-list-item>
          <img src="{{item.image}}">
          <h4>{{item.name}}: <h3>{{item.description}}</h3> ({{item.type}})</h4>
          <p>price: ${{item.price}} COP</p>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
